<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/static/img/icon.png" height="50px" alt="Course">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'index' %}">خانه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'courses' %}">دروس</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">جست و جو</a>
        </li>
        {% if request.path == '/new_lesson/' %}
        <li class="nav-item me-left">
          <a class="btn btn-outline-light btn-lg" href="{% url 'lessons' %}?course_id={{course.id}}">بازگشت</a>
        </li>
        {% endif %}
        {% if request.path == '/lessons/' %}
        <li class="nav-item me-left">
          <a class="btn btn-outline-light btn-lg" href="{% url 'courses' %}?course_id={{course.id}}">بازگشت</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>