<!DOCTYPE html>
<html dir="rtl">

<head>
  <!--  -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">  
  <!-- Style Sheet -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/font/font.css">
  {% block style %}
  {% endblock style %}
  <!--  -->
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <!--  -->
</head>

<body>
  <header>
    {% include 'includes/header.html' %}
  </header>
  <main>
    <div class="container my-5">
      {% for message in messages %}
      <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <h3>{{message}}</h3>
      </div>
      {% endfor %}
    </div>
    <!--  -->
    {% block content %}
    {% endblock content %}
  </main>
  <footer>
    <!-- Footer -->
  </footer>
  <!-- Java Script -->
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/lord-icon-2.1.0.js"></script>
  {% block script %}
  {% endblock script %}
</body>

</html>