{% extends 'layout/base.html' %}

{% block title %}
خانه | مایادرس
{% endblock title %}

{% block content %}

<div class="container my-5">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <lord-icon src="https://cdn.lordicon.com/wxnxiano.json" target=".card"
      trigger="morph" colors="primary:#121331,secondary:#08a88a" style="width: 18rem; height: 18rem;" class="card-img-top"></lord-icon>
      <div class="card-body">
        <h5 class="card-title">مدیریت دروس</h5>
        <p class="card-text">مدیریت آسان دروس توسط خودتان</p>
        <a href="{% url 'courses' %}" class="btn btn-primary">دورس</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}