{% extends 'layout/base.html' %}

{% block title %}
سوالات | مایادرس
{% endblock title %}

{% block content %}

<div class="container my-5 text-center">
  <a href="{% url 'new_lesson' %}?course_id={{ course.id }}" class="btn btn-primary btn-lg">ایجاد سوال</a>
</div>

<div class="container my-5">
  {% for lesson in lessons %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-text">{{ lesson.key|linebreaks }}</h3>
      <p class="card-text">{{ lesson.value|linebreaks }}</p>
      <a href="#" class="btn btn-outline-primary btn-sm">
        تغییر
      </a>
        <a href="#" class="btn btn-primary btn-sm">
          کاوش
        </a>
    </div>
  </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if lessons.has_previous == True %}
    <li class="page-item"><a class="page-link" href="?page={{lessons.previous_page_number}}&course_id={{ course_id }}">قبلی</a></li>
    {% endif %}
    {% for page in pages.page_range %}
    <li class="page-item"><a class="page-link" href="?page={{page}}&course_id={{ course_id }}">{{page}}</a></li>
    {% endfor %}
    {% if lessons.has_next == True %}
    <li class="page-item"><a class="page-link" href="?page={{lessons.next_page_number}}&course_id={{ course_id }}">بعدی</a></li>
    {% endif %}
  </ul>
</nav>

{% endblock content %}